.expense-viewer {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.expense-viewer > h3 {
    margin: 0;
    padding: 16px;
    padding-top: 16px;
    /* height: 10%; */
    text-align: left;
    border-bottom: 1px solid wheat;
}
.expense-viewer > table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
    word-wrap: break-word;
}
.expense-viewer table > thead tr {
    /* border: 2px solid darkblue; */
    /* border-radius: 10px; */
    background-color: #009879;
    color: #ffffff;
    text-align: left;

}
.expense-viewer  > table th, table td {
    /* border: 1px solid darkblue;
    border-radius: 10px; */
    box-sizing: border-box;
    /* font-size: 0.8rem; */
    overflow: hidden;
    text-align: center;
    width: auto;
    word-break: break-word;

}
.expense-viewer > table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.expense-viewer > table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.expense-viewer > table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.expense-viewer > table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.add-expense-btn {
    width: 200px;
    background-color: wheat;
    color: brown;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 16px;
}

.add-expense-popup {
    /* animation: slideInFromTop 0.1s ease-out forwards; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 16px;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%); /* Start completely above its final position */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateY(0); /* End at its original position */
        opacity: 1; /* End fully visible */
    }
}

.add-expense-controls {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.5rem;
    padding-top: 0;

}
.add-expense-controls > h2 {
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
}
.add-expense-controls > button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: wheat;
        color: white;
    }
}
.submit-loader {
    height: 50px;
    width: 50px;
    border: 4px solid #f3f3f3; /* Light gray */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;

}

.add-expense-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.adde-form-categ-amt {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.adde-form-categ-amt > div {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
}
.adde-form-categ-amt > div > label,
.adde-form-categ-amt > div > input {
    width: 50%;
    text-align: right;
}

.expense-loader-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #555;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.expense-loader {
    border: 4px solid #f3f3f3; /* Light gray */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    width: 40px;
    height: 40px;
}

.expense-error-viewer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #555;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 10px;
}

.expense-error {

}
.expense-error > p {
    color: red;
    width: 100%;
}
.expense-error > p > span {
    color: green;
    width: 100%;
    cursor: pointer;
    &:hover {
        color: blueviolet;
    }
}

.expense-error > section {
    width: 100%;
    border-top: 1px solid wheat;
}

